.textForm{
    color: rgb(8, 44, 115);
}

label{
    color: rgb(8, 44, 115);
}

.erreur{

    color: red;
    font-size: 12px;
}


.is-invalid {
    border-color: red;
    background-color: #ffe6e6;
    color: red;
  }

nav{
    background-color: rgb(255, 255, 255);
    /*border-bottom: black solid 3px;*/
}
.card{
    margin: 3%;
}

#navLien{
    text-decoration:none;
}

.marTop{
    margin-top: 3%;
}

.navTxt{
    color: #ffffff;
    text-decoration: none;
}

.navTxtOver{
    color: #5D7687;
    text-decoration: none;
}